.logo {
  float: left;
  width: 100px;
  height: auto;
  
}
.logo img{
  width:200px
;}

.floatRight {
  float: right !important; 
}
.bgWhite {
  background: white;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
.ant-layout-header {
  background: white !important;
  line-height: 100px !important;
  height: 100px !important;
}
.ant-menu-item {
  font-size: 20px !important;
}
.ant-layout {
  width: 100% !important;

}
.pimg {
margin-left: 50px;
}
.ant-image-mask{
  margin-left: 50px;
  width: 400px;
  
}
.ptitle{
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
.d{
  font-size: 30px;
  
  font-family: 'Courier New', Courier, monospace;

}
.dd{
  font-size: 20px;
  
  font-family: 'Courier New', Courier, monospace;

}
.boxed{
  border: 1px solid black;
  margin :50px;
  
}
.cartinfo{
  font-size: 27px;
}